# 모든 파일 변경 시 GitHub Copilot이 자동으로 코드 리뷰어로 지정됩니다.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @github-copilot
